.fondo{
    --background: url('../../assets/icon/3.png') ;
}
.foto{
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    height: 100px;
    width: 100px;
}
.subtitulo{
      display: block;
    margin: 0 auto;
}
