.fondo{
    --background: url('../../assets/icon/3.png') ;
  }
.logo {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }
.ion-card {
    max-width: 300px;
    margin: 0 auto;
}
.boton{
    display: block;
    margin-top: 30px;
}
#container{
    margin-top: 200px;
}