#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c80;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.logo {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}


ion-card-title {
  font-size: 1.5rem;
}

ion-card-content {
  padding: 16px;
}

ion-label {
  font-size: 1.2rem;
  color: #030000; /* Cambiar el color del texto del nombre de usuario */
}

ion-content.fondo{
  --background: url('../../assets/icon/3.png');
  background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
  background-repeat: no-repeat;
  background-position: center;
}
.carta{
  margin-top: 250px;
  background-color: rgba(68, 4, 68, 0.76);
  color: black;
}
.subtitulo{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.barra{
  width: 270px;
  margin: 0 auto;
  margin-top: 20px;
}
ion-card {
  color: white;
  opacity: 0.5;
  background: blue;
  margin: 10px;

  --background: red;
}

@media (prefers-color-scheme: dark) {
  ion-card {
    --background: green;
  }
}
